{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
        <!---->
      <h3 class="form-heading">List a new venue <a href="/" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label >Name</label>
          {{ form.name }}

      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
                 {{ form.city }}

            </div>
            <div class="form-group">
                {{ form.state }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
           {{ form.address }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone }}

        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
          {{ form.genres }}
      </div>
      
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
            {{ form.facebook_link }}
       </div>
      
       <div class="form-group">
          <label for="image_link">Image Link</label>
           {{ form.image_link }}

       </div>

       <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link }}

       </div>

       <div class="form-group">
             <label for="seeking_talent">Looking for Talent</label>
           {{ form.seeking_talent }}

       </div>

       <div class="form-group">
            <label for="seeking_description">Seeking Description</label>
              {{ form.seeking_description }}
       </div>
      <input type="submit" name="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
